{% extends "base.html" %}

{% block app_content %}
    <h1>Mister modeline to video_mode conversion</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.modeline.label }}<br>
            {{ form.modeline(size=80) }}
        </p>

        {% if video_mode %}
        <p class="font-weight-bold">
            <input type="text" id="videomode" class="form-control" value="{{ video_mode }}">
        </p>
        {% endif %}
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
